---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/layout/Navbar.astro";
import About from "../components/sections/About.astro";
import Monthlymenu from "../components/sections/Monthlymenu.astro";
import TimeTable from "../components/sections/TimeTable.astro";

import Divider from "../components/ui/Divider.astro";
import Footer from "../components/layout/Footer.astro";
---

<Layout title="Bar Restaurante Camarena">
  <header>
    <Navbar />
  </header>
  <main>
    <About />
    <Divider />
    <Monthlymenu />
    <Divider />
    <TimeTable />

  </main>

  <footer class="py-4 text-center text-sm text-negro">
    <Footer />
  </footer>
</Layout>
