---
import Layout from "../layouts/Layout.astro";
import Divider from "../components/Divider.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Monthlymenu from "../components/Monthlymenu.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import TimeTable from "../components/TimeTable.astro";
---

<Layout title="Bar Restaurante Camarena">
  <header>
    <Navbar />
  </header>
  <main>
    <About />
    <Divider />
    <Monthlymenu />
    <Divider />
    <TimeTable />
    <Divider />
    <Contact />
  </main>

  <footer class="py-4 text-center text-sm text-negro">
    <Footer />
  </footer>
</Layout>
