<section
  id="about"
  class="w-11/12 md:w-3/4 mx-auto rounded-3xl bg-rojo text-white mt-24 md:mt-28 py-10"
>
  <div class="mx-auto text-center">
    <h1 class="hidden md:block text-salmon text-3xl md:text-7xl font-bold mb-8">
      El típico restaurante <br />
      de <span class="text-amarillo">toda la vida</span>
    </h1>
    <h1 class="block md:hidden text-salmon text-4xl font-bold mb-8">
      El típico bar de <br />
      <span class="text-amarillo text-5xl">toda la vida</span>
    </h1>
    <p
      class="text-salmon text-base md:text-xl mx-auto font-light w-3/4 md:w-3/5 mb-8"
    >
      Así es, somos lo que siempre buscas en Google como, "bar de toda la vida".
      Y estamos para ofrecerte los mejores desayunos y menús de medio día que
      podrás encontrar.
    </p>

    <div class="w-4/5 m-auto grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-24">
      <div class="bg-white rounded-3xl py-4 text-negro">
        <img
          src="/img/croissant.svg"
          alt="Croissant icon"
          class="w-12 h-12 mx-auto mb-2"
        />
        <p class="w-3/4 m-auto">
          Tanto si eres de bollería y cafetito o d'esmorçaret de toda la vida.
          Tenemos lo que más te apetezca
        </p>
      </div>

      <div class="bg-white rounded-3xl py-4 text-negro">
        <img
          src="/img/fideua.svg"
          alt="Fideua icon"
          class="w-12 h-12 mx-auto mt-2 md:-mt-2 mb-2"
        />
        <p class="w-3/4 m-auto">
          Carnes, pescados, arroces, primeros, segundos, postres,... ¿qué más se
          puede pedir?
        </p>
      </div>

      <div class="bg-white rounded-3xl py-4 text-negro">
        <img
          src="/img/tuppers.svg"
          alt="Tupper Icon"
          class="w-12 h-12 mx-auto mb-2"
        />
        <p class="w-3/4 m-auto">
          Y por si eres una persona ocupada, llévate nuestras raciones de
          mediodía
        </p>
      </div>
    </div>
  </div>
</section>
