<section id="contact" class="w-11/12 md:w-3/4 mx-auto rounded-3xl py-16">
  <h2 class="text-3xl font-bold text-center mb-8">Contacto</h2>
  <div class="w-11/12 md:w-11/12 mx-auto bg-negro rounded-lg overflow-hidden">
    <div class="p-8 grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="md:col-span-2">
        <a href="https://maps.app.goo.gl/NkVqqSSDFvn6s9yFA" target="_blank">
          <img
            src="/img/map.png"
            alt="Mapa de ubicación"
            class="w-full mb-4 rounded-xl"
          />
        </a>
      </div>
      <div class="md:text-xl font-light md:pt-24">
        <p class="text-white mb-6">
          <img
            src="/img/location.svg"
            alt="Ubicación"
            class="inline-block mr-2 w-4 h-4"
          />
          C/ Músico Enrique Casanova, 8 Ontinyent (Valencia)
        </p>
        <p class="text-white mb-6">
          <img
            src="/img/phone.svg"
            alt="Teléfono"
            class="inline-block mr-2 w-4 h-4"
          />
          96 238 42 40
        </p>
        <p class="text-white">
          <img
            src="/img/facebook.svg"
            alt="Facebook"
            class="inline-block mr-2 w-4 h-4"
          />
          /bar-restaurante Camarena
        </p>
      </div>
    </div>
  </div>
</section>
